<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutorial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <section id="nav">

            <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">

            <div class="container">

              <a class="navbar-brand" href="#">Stela</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span ><i id="bar" class="fas fa-bars"></i>></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">

                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>

                  <li class="nav-item">
                    <i class="fal fa-search"></i>
                  </li>

                  <li class="nav-item">
                    <i class="fal fa-shopping-bag"></i>
                  </li>

                </ul>
              </div>
            </div>

            </nav>

        </section>
       
          
        <section id="home">

            <div class="container">
                <h4>New On Our Website</h4>
                <h1><span>Get Your Bra</span>nd New Kit!</h1>
                <button>Shop Now</button>
            </div>

        </section>

      
        <section id="leagues" class="container">

            <div class="container text-center mt-5 py-5 ">
                <h3>Cheack Your Favorite League Kits </h3>
                <hr>
            </div>

            <div class="row m-0 py-5">

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="premier-league.html">
                    <img class="img-fluid" src="images/leagues/premier-league.png" alt="Error">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="la-liga.html">
                    <img class="img-fluid" src="images/leagues/la-liga.png" alt="Error">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="seriaa.html">
                    <img class="img-fluid" src="images/leagues/seriaa.png" alt="Error">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="ligue1.html">
                    <img class="img-fluid" src="images/leagues/ligue1.png" alt="Error">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="bundesliga.html">
                    <img class="img-fluid" src="images/leagues/bundesliga.png" alt="Error">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 img-wrapper">
                    <a href="efl.html">
                    <img class="img-fluid" src="images/leagues/international.png" alt="Error">
                    </a>
                </div>
            

            </div>

        </section>
          
        
        <section id="cards" class="w-100">

            <div class="container text-center mt-5 py-5 ">
                <h3>Our Featured</h3>
                <hr>
                <p>Here You Can Cheack Out Some of Our Newest Products</p>
            </div>

            <div class="row">
                <div class="pruduct"></div>
            </div>

            <div class="row p-0 m-0">

                <div class="one col-lg-4 col-md-12 col-12 p-0">
                    <img class="img-fluid" src="images/cards/barcelona.png" alt="Error">
                    <div class="details">
                        <h2>Barcelona</h2>
                        <button class="text">Buy Now</button>
                    </div>
                </div>

                <div class="one col-lg-4 col-md-12 col-12 p-0">
                    <img class="img-fluid" src="images/cards/PSG.png" alt="Error">
                    <div class="details">
                        <h2>PSG</h2>
                        <button class="text">Buy Now</button>
                    </div>
                </div>

                <div class="one col-lg-4 col-md-12 col-12 p-0">
                    <img class="img-fluid" src="images/cards/mancity.png" alt="Error">
                    <div class="details">
                        <h2>Man City</h2>
                        <button class="text">Buy Now</button>
                    </div>
                </div>

            </div>

        </section>

        
       













        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
    </body>

</html>